/*menu*/
.navigator{
  background-color: rgb(228, 228, 139);
  margin:0% ;
  padding: 30px;
}
nav{
  display: flex;
  
}
.menu a{
  padding-left:40px;
  text-decoration: none;
  
}
.menu a:hover{
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: burlywood;
  border: 1px solid rgb(238, 233, 233);
  border-radius: 10px;
}

.welcome{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.slides{
  width: 500px;
  
}
.slide img{
  max-width: 100%;
  border: 1px solid rgb(238, 233, 233);
  border-radius: 10px;
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}
 /*products*/
 .innerimg{
  overflow:hidden;
}
.innerimg img{
  transition: all 1.5s ease;
}
.innerimg:hover img{
  transform: scale(1.5);
}
.card{
height: 500px;
margin-top: 30px;
margin-bottom: 30px;
}
/*order*/
.order{
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.torder{
  margin-bottom: 40px;
}
.upperform{
  background-color: white;
  border: 2px solid black;
  box-shadow: -1px 11px 42px -7px rgba(0,0,0,0.69);
  border-radius: 10px;
  border-color: rgb(209, 244, 245);
  transition: all 0.5s ease;
  margin-left: 30%;
  width: 600px;;
}
.upperform:hover{
  transform: scale(1.1);
}
.result{
  display: none;
}
/*footer*/
.footer{
  background-color: rgb(29, 27, 27);
  margin-top: -25px;
  padding-top: 40px;
}

/**/
.theader{
  font-family: 'Sansita Swashed', cursive;;
   
 }
 .card-text{
   font-family: 'Sansita Swashed', cursive;
 
 }
 .bcolor{
   background-color: rgb(228, 228, 139);
 }
 a{
   text-decoration: none;
   color:black;
 }
 a:hover{
   text-decoration: none;
   color:white;
 }
 
@media screen and ( max-width:1100px){
  .upperform{
    width:500px;
    margin-left: 30%;
  }
  .card{
    margin-left: 2%;
  }
  .slides{
    width: 400px;
  }

}
@media screen and ( max-width:800px){
  .upperform{
    width:500px;
    margin-left: 15%;
  }
  .card{
    margin-left: 0px;
  }
  .slides{
    width: 350px;
  }

}

@media screen and ( max-width:500px){
  .upperform{
    width:300px;
    margin-left: 15%;
  }
  .card{
    margin-left: 15%;
  }
  .slides{
    width: 400px;
  }

}

@media screen and ( max-width:400px){
  .upperform{
    width:250px;
    margin-left: 0px;
  }
  .card{
    margin-left: 0px;
  }
  .slides{
    width: 250px;
  }

}