/*menu*/
.navigator{
  background-color: rgb(228, 228, 139);
  margin:0% ;
  padding: 30px;
}
nav{
  display: flex;
  
}
.menu a{
  padding-left:40px;
  text-decoration: none;
  
}
.menu a:hover{
  color: white;
  text-decoration: none;
  padding: 10px;
  background-color: burlywood;
  border: 1px solid rgb(238, 233, 233);
  border-radius: 10px;
}

.welcome{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.slides{
  width: 500px;
}
.slide img{
  max-width: 100%;
}

[data-component="slideshow"] .slide {
  display: none;
}

[data-component="slideshow"] .slide.active {
  display: block;
}
 /*products*/
 .innerimg{
  overflow:hidden;
}
.innerimg img{
  transition: all 1.5s ease;
}
.innerimg:hover img{
  transform: scale(1.5);
}
.card{
height: 500px;
margin-top: 30px;
margin-bottom: 30px;
}
/*order*/
.order{
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.torder{
  margin-bottom: 40px;
}
.upperform{
  background-color: white;
  border: 2px solid black;
  box-shadow: -1px 11px 42px -7px rgba(0,0,0,0.69);
  border-radius: 10px;
  border-color: rgb(209, 244, 245);
  transition: all 0.5s ease;
  margin-left: 30%;
  width: 600px;;
}
.upperform:hover{
  transform: scale(1.1);
}
.result{
  display: none;
}